
<div ng-controller="UsersCtrl" ui-view ng-cloak>

	<h1>Team</h1>

	<p><a ng-click="userform = !userform">{{ userform ? 'Close' : 'Create a new User' }}</a></p>

	<formset name="user_form" ng-submit="addUser(user)" ng-show="userform">
		<field model="user.email"></field>
		<field model="user.full_name"></field>
		<field model="user.password" type="password"></field>
		<field model="user.password_confirmation" type="password"></field>
		<input type="submit" value="Submit" ng-disabled="user_form.$invalid">
	</formset>

	<hr>

	<table class="styled">
		<thead>
			<tr>
				<th>Image</th>
				<th>Name</th>
				<th>Role</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td width="6%"><img ng-show="user.image" ng-src="{{ user.image }}"></td>
				<td><h4>{{ user.full_name }}</h4></td>
				<td>{{ user.role_name }}</td>
				<td width="30%">
					<a ui-sref="team.view({ id: user.id })">View</a>
					<a ng-click="confirm = !confirm">Remove</a>
					<span ng-show="confirm" class="confirm">
						
						<a ng-click="removeUser($index)">Confirm</a> or
						<a ng-click="confirm = !confirm">Cancel</a>

					</span>
				</td>
			</tr>
		</tbody>
	</table>

</div> <!-- UsersCtrl -->